.THIS .table-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 200px);
}

.THIS .group-header{
    display: flex;
    justify-content: space-between;
}

.THIS .light {
    color: #f4f6f9;
}

.THIS lightning-icon.some-indicator>lightning-primitive-icon>svg>use {
    fill: white;
    background-color: #006DCC;
    width: 2rem;
    height: 2rem;
}

.THIS .custom-white-bg {
    background-color: white !important;
    border-radius: 0.25rem; /* Optional: To give slight rounding of corners */
    border: 1px solid #d8dde6; /* Optional: To match Salesforce styling */
}

.THIS .red-circle-button {
    background-color: #ed5454 !important;
    border-radius: 50% !important; /* Makes it a circle */
    width: 32px; /* Adjust the size as needed */
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /* Remove default padding */
}

.THIS .red-circle-button lightning-icon {
    margin: auto; /* Center the icon inside */
    fill: white !important; /* Ensure the icon is white */
    color: white !important; /* Make the cross white */

}

.THIS .slds-table {
    width: 100%;
    border: 1px solid #ccc;
    min-width: 600px;
    border-collapse: collapse;
}

.THIS .slds-table thead th {
    background-color: #f3f2f2;
    color: #0070d2;
    font-weight: bold;
    padding: 0.5rem 0.3rem;
    white-space: nowrap;
    padding-left: 0.5rem;
}

.THIS .slds-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.THIS .slds-table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.THIS .slds-table tbody td {
    padding: 0.3rem 0.5rem;
    border-bottom: 1px solid #e0e0e0;
    white-space: nowrap;
}

.THIS .slds-table tbody td .slds-truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.THIS .slds-wider-column {
    width: 30%;
}

.THIS .lightning-card {
    max-width: 100%;
}

.THIS .group-container {
    margin-bottom: 1rem;
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
    padding: 0.5rem;
    background-color: #f4f6f9;
}

.THIS .buildertekBT_LookupFields {
    padding-top: 0;
}

.THIS .group-header {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    background-color: #0070d2;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 4px;
}

.THIS .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

.THIS .picklist-list {
    display: flex;
    align-items: end;
    gap: 0.5rem;
}

.THIS .picklist-list p {
    padding-bottom: 0.5rem;
}

.THIS .picklist {
    min-width: 10rem;
}

.THIS .empty-state {
    width: 100%;
    padding: 1rem;
    font-size: 120%;
    text-align: center;
    font-weight: 700;
}

.THIS .button-group {
    display: flex;
    justify-content: center;
    /* margin: 0.5rem auto; */
    gap: 0.5rem;
}

.THIS .heading {
    font-size: large;
    font-weight: bold;
    color: #0070d2;
    padding-inline: 1rem;
}

.THIS .slds-form-element {
    margin-bottom: 0;
}

.THIS .slds-form-element__control {
    padding-top: 0;
    padding-bottom: 0;
}

.THIS .slds-input,
.THIS .slds-select {
    height: 2rem;
}